{% load auth_extras %}

 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link text-center">
      <span class="brand-text font-weight-light">Hermes</span>
      <img src="{{ ASSETS_ROOT }}/img/hermes-logo.png" alt="Hermes Logo" class="brand-image" style="opacity: .8;">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
        <div class="image">
          <img src="{{ ASSETS_ROOT }}/img/admin.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'login' %}" class="d-block">
            {{ user.username }} - התנתקות
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline" style="direction:rtl">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="חיפוש" aria-label="חיפוש">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview {% if 'main' in segment %} menu-open {% endif %}">
            
            <a href="/" class="nav-link {% if 'main' in segment %} active {% endif %}">
              <p>
                ראשי
                <i class="right fas fa-angle-left"></i>
              </p>
              <i class="fas fa-home nav-icon"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link {% if 'dashboard' in segment %} active {% endif %}">
                  <p>דשבורד</p>
                  <i class="fas fa-tachometer-alt nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/primary-record" class="nav-link {% if 'record' in segment %} active {% endif %}">
                  <p>ארכיון התראות</p>
                  <i class="far fa-clock nav-icon"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview {% if 'servers' in segment %} menu-open {% endif %}">
            <a href="/" class="nav-link {% if 'servers' in segment %} active {% endif %}">
              <p>
                שרתים
                <i class="fas fa-angle-left right"></i>
              </p>
              <i class="fas fa-server nav-icon"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link {% if 'alerts' in segment %} active {% endif %}">
                  <p>שרת א</p>
                  <i class="fas fa-check-square nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/" class="nav-link {% if 'document' in segment %} active {% endif %}">
                  <p>שרת ב</p>
                  <i class="fas fa-check-square nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/" class="nav-link {% if 'manuals' in segment %} active {% endif %}">
                  <p>שרת ג</p>
                  <i class="fas fa-check-square nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/" class="nav-link {% if 'manuals' in segment %} active {% endif %}">
                  <p>שרת ד</p>
                  <i class="fas fa-check-square nav-icon"></i>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item has-treeview {% if 'management' in segment %} menu-open {% endif %}">
            <a href="/" class="nav-link {% if 'management' in segment %} active {% endif %}">
              <p>
                ניהול תקלות
                <i class="fas fa-angle-left right"></i>
              </p>
              <i class="nav-icon fas fa-th"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/management-alerts" class="nav-link {% if 'alerts' in segment %} active {% endif %}">
                  <p>תקלות והתראות</p>
                  <i class="fas fa-exclamation-triangle nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/management-document" class="nav-link {% if 'document' in segment %} active {% endif %}">
                  <p>תיעוד תקלה</p>
                  <i class="fas fa-thumbtack nav-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/management-manuals" class="nav-link {% if 'manuals' in segment %} active {% endif %}">
                  <p>נהלי תפעול</p>
                  <i class="fas fa-folder-open nav-icon"></i>
                </a>
              </li>
            </ul>
          </li>

          {% if request.user|has_group:"superuser" %} 
            <li class="nav-item has-treeview {% if 'users' in segment %} menu-open {% endif %}">
              <a href="/" class="nav-link {% if 'users' in segment %} active {% endif %}">
                <p>
                  משתמשים 
                  <i class="fas fa-angle-left right"></i>
                </p>
                <i class="fas fa-user nav-icon"></i>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/users-contacts" class="nav-link {% if 'contacts' in segment %} active {% endif %}">
                    <p>אנשי קשר</p>
                    <i class="fas fa-users nav-icon"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/users-list" class="nav-link {% if 'user-list' in segment %} active {% endif %}">
                    <p>ניהול הרשאות</p>
                    <i class="fas fa-user-plus nav-icon"></i>
                  </a>
                </li>
              </ul>
            </li>

          {% endif %}

          <li class="nav-item">
            <a href="/chat/" class="nav-link {% if 'chat' in segment %} active {% endif %}">
              <p>
                צ'אט מבצעי
                <i class="fas fa-angle-left right"></i>
              </p>
              <i class="fas fa-comment nav-icon"></i>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="/automations" class="nav-link {% if 'automations' in segment %} active {% endif %}">
              <p>
                אוטומציות
                <i class="fas fa-angle-left right"></i>
              </p>
              <i class="nav-icon fas fa-robot"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
